@import url("style.css");

.plate-top-bar{
    -fx-padding: 1em;
    -fx-spacing: .3em;

}

.plate-access-group{
    -fx-padding: 1em;
    -fx-border-width: .1em;

    -fx-background-color: derived(-fx-color-lightblue, 80%);
}

.plate-access-group:disabled{
    -fx-opacity: 80%;
}

.plate-access-group:requestOnChange{
    -fx-background-color: -fx-color-lightgreen;
    -fx-border-color: derived(-fx-color-green, 80%);
}





.button,
.menu-button-search-tool .label,
.button-add .label,
.choice-box-access .label{
    -fx-padding: .4em 1.4em;
    -fx-border-width: 0;
}

.button-reset{
    -fx-background-color: -fx-color-lightred;
    -fx-border-width: .05em;
    -fx-border-color: transparent;
}

.button-reset:hover,
.button-reset:focused{
    -fx-text-fill: -fx-color-red;
    -fx-border-color: -fx-color-red;
}

.button-show{
    -fx-background-color: -fx-color-lightblue;
    -fx-text-fill: -fx-color-blue;
}

.button-show:hover,
.button-show:focused{
    -fx-background-color: -fx-color-blue;
    -fx-text-fill: -fx-color-white;
}

.button-delete{
    -fx-background-color: -fx-color-lightred;
    -fx-text-fill: -fx-color-red;
}

.button-delete:hover,
.button-delete:focused{
    -fx-background-color: -fx-color-red;
    -fx-text-fill: -fx-color-white;
}

.button-edit{
    -fx-background-color: -fx-color-lightgreen;
    -fx-text-fill: -fx-color-green;
}

.button-edit:hover,
.button-edit:focused{
    -fx-background-color: -fx-color-green;
    -fx-text-fill: -fx-color-white;
}

.button-add{
    -fx-background-color: -fx-color-dark-blue;
    -fx-text-fill: -fx-color-white;
    -fx-mark-color: -fx-text-fill;
}

.button-add .label,
.button-add .arrow-button{
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-background-color: -fx-color-dark-blue;
}

.button-add .label{
    -fx-border-width: 0 .5px 0 0;
    -fx-background-radius: 3px 0 0 3px;
    -fx-text-fill: -fx-color-white;
}

.button-add .arrow-button{
    -fx-border-width: 0;
    -fx-background-radius: 0 3px 3px 0;
}

.button-add .arrow-button:hover,
.button-add .arrow-button:focused,
.button-add .label:hover,
.button-add .label:focused{
    -fx-background-color: derive(-fx-color-dark-blue, 20%);
}

.button-add .arrow-button:hover .arrow,
.button-add .arrow-button:focused .arrow{
    -fx-background-color: derived(-fx-color-blue, 50%);
}

.button-add .label:hover,
.button-add .label:focused{
}

.button-add .label:hover,
.button-add .label:focused{
    -fx-text-fill: derived(-fx-color-blue, 50%);
}

.button-add .context-menu{
    -fx-background-color: -fx-color-dark-blue;
}

.button-add .menu-item .label,
.button-add .menu-item:selected .label{
    -fx-text-fill: -fx-color-white;
    -fx-background-color: inherit;
}

.button-add .menu-item:hover,
.button-add .menu-item:focused{
    -fx-background-color: derived(-fx-color-dark-blue, 20%);
}

.button-add .menu-item:hover .label,
.button-add .menu-item:focused .label{
    -fx-background-color: inherit;
    -fx-text-fill: derived(-fx-color-blue, 50%);
}

.label-access-moode{
    -fx-font-family: "Rubik Medium";
    -fx-font-size: 1em;
    -fx-text-fill: derived(-fx-color-dark-blue, 50%);
    -fx-padding:  0 0 .5em 0;
}

.label-mode-info{
    -fx-font-family: "Rubik Medium";
    -fx-text-fill: derived(-fx-color-dark-blue, 50%);
    -fx-padding: .5em 0 0 .3em;
}
