
.body{
    -fx-background-color: #f0f1f8;
}

.body-form{
    -fx-background-color: #fffefe;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.body-form-title{
    -fx-font-family: "Poppins-Black";
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-border-color: lightgray;
    -fx-border-width: 0 0 .5 0;
    -fx-text-fill: #202835;
}

.body-form-field{
    -fx-border-color: lightgray;
    -fx-background-color: transparent;
    -fx-border-width: .5;
    -fx-border-radius: 5px;
    -fx-padding: 5 5 5 10;
}

.body-form-field-title{
    -fx-font-family: "Roboto";
    -fx-font-size: 11px;
    -fx-text-fill: Black;
}

.body-form-field:disabled{
    -fx-background-color: #f0f1f8;
}