@import url("fontStyle.css");

*{
    -fx-color-lightblue2: #f4f6fc;
    -fx-color-lightblue1: #bfc5d2;
    -fx-color-lightblue0: #b0bac9;
    -fx-color-lightblue: rgba(46, 91, 255, 0.1);
    -fx-color-blue: rgba(46, 91, 255, 1);
    -fx-color-dark-blue: #2e384d;

    -fx-color-lightgreen: rgba(51, 172, 46, 0.1);
    -fx-color-green: rgba(51, 172, 46, 1);

    -fx-color-lightred: rgba(232, 74, 80, 0.1);
    -fx-color-red: rgba(232, 74, 80, 1);

    -fx-color-white: #fff;

}

.parent{
    -fx-background-color: -fx-color-lightblue2;
    -fx-padding: 3em 5em;
}

.plate{
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-width: .05em;
    -fx-border-color: -fx-color-lightblue1;
    -fx-background-color: -fx-color-white;
    -fx-padding: 0 0 2px 0;
}

.plate-border-title{
    -fx-font-family: "Rubik Light";
    -fx-font-size: 1.5em;
    -fx-text-fill: -fx-color-dark-blue;
    -fx-padding: 0 0 1em 0;
}

.plate-title{
    -fx-font-family: "Rubik";
    -fx-font-size: .8em;
    -fx-text-fill: -fx-color-lightblue1;
    -fx-padding: 1.5em;

}

.plate-border{
    -fx-spacing: 1em;
}


.button,
.split-menu-button > .label,
.choice-box > .label{
    -fx-background-insets: 0;
    -fx-border-insets: 0;


    -fx-font-family: "Rubik";
    -fx-font-size: 1.08em;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-border-width: .03em;
    -fx-border-color: -fx-color-lightblue1;
    -fx-background-color: -fx-color-lightblue2;
    -fx-text-fill: -fx-color-lightblue1;
}




.list-view{
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-padding: 0;
}

.list-view .list-cell{
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-border-color: gray;
    -fx-padding: 15;
    -fx-alignment: center;
}

.list-view .list-cell:hover,
.list-view .list-cell:selected{
    -fx-background-color: lightgray;
    -fx-border-width: 0 0 0 4;
    -fx-text-fill: gray;
}
